# functional simulator specification
-gpgpu_ptx_instruction_classification 0
-gpgpu_ptx_sim_mode 0
-gpgpu_ptx_force_max_capability 20
-save_embedded_ptx 1 

# high level architecture configuration
-gpgpu_n_clusters 10 
-gpgpu_n_cores_per_cluster 3
-gpgpu_n_mem 8 
-gpgpu_clock_domains 325.0:650.0:650.0:800.0 
-gpgpu_max_concurrent_kernel 1

# shader core pipeline config
-gpgpu_shader_registers 16384
-gpgpu_shader_core_pipeline 1024:32 
-gpgpu_shader_cta 8
-gpgpu_simd_model 1

# Pipeline widths and number of FUs
# ID_OC_SP,ID_OC_SFU,ID_OC_MEM,OC_EX_SP,OC_EX_SFU,OC_EX_MEM,EX_WB
-gpgpu_pipeline_widths 1,1,1,1,1,1,1
-gpgpu_num_sp_units 1
-gpgpu_num_sfu_units 1

# Instruction latencies and initiation intervals
# "ADD,MAX,MUL,MAD,DIV"
-ptx_opcode_latency_int 1,1,19,25,145
-ptx_opcode_initiation_int 1,1,4,4,32
-ptx_opcode_latency_fp 1,1,1,1,30
-ptx_opcode_initiation_fp 1,1,1,1,5
-ptx_opcode_latency_dp 8,8,8,8,335
-ptx_opcode_initiation_dp 8,8,8,8,130

# memory stage behaviour
# <nsets>:<bsize>:<assoc>,<rep>:<wr>:<alloc>:<wr_alloc>,<mshr>:<N>:<merge>,<mq>:**<fifo_entry>
# ** Optional parameter - Required when mshr_type==Texture Fifo
-gpgpu_cache:il1 8:128:4,L:R:f:N,A:2:32,4
-gpgpu_cache:dl1 64:128:6,L:L:m:L,A:16:4,4:0,H
#-gpgpu_cache:dl1 none
-gpgpu_tex_cache:l1 8:128:5,L:R:m:N,F:128:4,128:2
-gpgpu_const_cache:l1 64:64:2,L:R:f:N,A:2:32,4
-gpgpu_cache:dl2 64:128:8,L:B:m:W,A:16:4,4:0,H
-gpgpu_cache:dl2_texture_only 0
-gmem_skip_L1D 1  # skip L1 cache for global memory access

-gpgpu_shmem_warp_parts 2

# interconnection
-network_mode 1 
-inter_config_file icnt_config_quadro_islip_TM.txt 

# dram model config
-gpgpu_dram_scheduler 1
-gpgpu_frfcfs_dram_sched_queue_size 16
-gpgpu_dram_return_queue_size 16
-gpgpu_n_mem_per_ctrlr 2
-gpgpu_dram_buswidth 4 
-gpgpu_dram_burst_length 4
-dram_data_command_freq_ratio 2  # GDDR3 is DDR
-gpgpu_mem_address_mask 1
-gpgpu_mem_addr_mapping dramid@8;00000000.00000000.00000000.00000000.0000RRRR.RRRRRRRR.RRBBBCCC.CCCSSSSS
# GDDR3 timing from Samsung K4J52324QH-HC12 @ 800MHz 
-gpgpu_dram_timing_opt nbk=8:CCD=2:RRD=8:RCD=12:RAS=25:RP=10:RC=35:CL=10:WL=7:CDLR=6:WR=11

# stat collection
-gpgpu_memlatency_stat 14 
-gpgpu_runtime_stat 5000
-enable_ptx_file_line_stats 1

# enable operand collector 
-gpgpu_operand_collector_num_units_sp 6
-gpgpu_operand_collector_num_units_sfu 8

-visualizer_enabled 0

# tracing functionality
#-trace_enabled 1
#-trace_components WARP_SCHEDULER,SCOREBOARD
#-trace_sampling_core 0

############################
## tm manager options 
#-tm_uarch_model 30
# signature-based conflict detection 
-tm_bloomfilter_sig_size 1024
-tm_bloomfilter_thread_hash_size 32  
-tm_access_word_size 4 
-tm_check_bloomfilter_correctness 0 
-tm_lazy_conflict_detection 1 

# ring TM options 
-tm_use_ring_tm 0 
-tm_ring_tm_eager_cd 0 
-tm_ring_tm_version_read 1 

# valued-based conflict detection 
-tm_use_value_based_tm 1 
-tm_timeout_validation 100000

-tm_enable_access_mode 0 

# KILO TM timing model defaults 
-no_tx_log_gen 0 
-skip_tx_log_walker 0
-cu_dummy_mode 0 
-cu_gen_L2_acc 3 
-cu_rop_latency 115
-timing_mode_vb_commit 0
-timing_mode_core_side_commit 0

-cu_check_rs_version 0 
-cu_use_bloomfilter 0 
-cu_bloomfilter_size 64
-cu_bloomfilter_n_func 4

-cu_commit_ack_traffic 1 

-cu_input_queue_length 64 

-cu_fcd_mode 1 
-cu_delayed_fcd_cd_mode 0 

-tlw_fast_log_read 0 
-tlw_prioritize_ack 0 

-cu_alloc_max_timeout 20000

# Concurrency Control 
-tm_warp_scoreboard_token 0 
-scb_tm_token_cnt 0 
-tm_serial_pdom_stack 0  # set to 1 to allow serialize transaction execution within a warp 

# Ideal TM -- i.e. turn off timing model 
-no_tx_log_gen 1 -skip_tx_log_walker 1 

# coherence profiling option (off for now)
-coh_model 0 -coh_tm_only 1 -coh_tm_flush_cache 1 -gpgpu_coherence_cache:l0 64:4:16,L:R:f:N,A:32:8,8

