# Ideal TM -- i.e. turn off timing model 
-no_tx_log_gen 1 -skip_tx_log_walker 1 

# coherence profiling option (off for now)
-coh_model 0 -coh_tm_only 1 -coh_tm_flush_cache 1 -gpgpu_coherence_cache:l0 64:4:16,L:R:f:N,A:32:8,8

# Concurrency Control 
-tm_warp_scoreboard_token 0 
-scb_tm_token_cnt 0 
-tm_serial_pdom_stack 0  # set to 1 to allow serialize transaction execution within a warp 

