# Temporal Conflict Detection

# Enabling TCD
-tlw_use_temporal_cd 1 
-tlw_pre_commit_validation 1 

# Only use TCD to permit silent commit and not abort 
-tlw_tcd_whitelist_only 1 

# Organization of Last Writer Time Table 
-tm_temporal_bloomfilter_size 512 
-tm_temporal_bloomfilter_n_hash 4 
-tm_temporal_cd_addr_granularity 128 

