# Warp TM with 2-Phase Parallel Conflict Resolution and 4K Ownership Table

# Enabling all Warp TM Optimizations
-cu_coalesce_mem_op 1 
-cu_coalesce_reply 1 
-cu_parallel_process_coalesced_input 1 

# Intra-Warp Conflict Resolution
-tlw_intra_warp_conflict_detection 1 
-tlw_intra_warp_cd_type 3 
-tlw_mark_check_ownership_size 4096 
-tlw_intra_warp_cd_concurrency 3 

# Set to 0 to disable intra-warp conflict resolution overhead 
-tlw_timing_model 2   
